name: kop tests

on:
  pull_request:
    branches:
      - master
      - branch-*
  push:
    branches:
      - master
      - branch-*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-style:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17

    - name: License check
      run: mvn -ntp -B license:check

    - name: Style check
      run: mvn -ntp -B checkstyle:check

    - name: Build with Maven skipTests
      run: mvn clean install -ntp -B -DskipTests

    - name: Building JavaDocs
      run: mvn -ntp -B javadoc:jar

    - name: Spotbugs check
      run: mvn -ntp -B spotbugs:check

  kafka-impl-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17

    - name: Build with Maven skipTests
      run: mvn clean install -ntp -B -DskipTests

    - name: kafka-impl test after build
      run: mvn test -ntp -B -DfailIfNoTests=false -pl kafka-impl

  schema-registry-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17

    - name: Build with Maven skipTests
      run: mvn clean install -ntp -B -DskipTests

    - name: schema registry test after build
      run: mvn test -ntp -B -DfailIfNoTests=false -pl schema-registry

    - name: kafka-payload-processor test after build
      run: mvn test -ntp -B -DfailIfNoTests=false -pl kafka-payload-processor-shaded-tests

  oauth-client-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17

    - name: Build with Maven skipTests
      run: mvn clean install -ntp -B -DskipTests

    - name: Start and init the oauth server
      run: ./ci/init_hydra_oauth_server.sh
      timeout-minutes: 5

    - name: oauth-client test after build
      run: mvn test -ntp -B -DfailIfNoTests=false -pl oauth-client

  module-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17

    - name: Build with Maven skipTests
      run: mvn clean install -ntp -B -DskipTests

    - name: Start and init the oauth server
      run: ./ci/init_hydra_oauth_server.sh
      timeout-minutes: 5

    - name: tests module
      run: mvn test -ntp -B -DfailIfNoTests=false '-Dtest=!KafkaIntegration*Test' -pl tests
      timeout-minutes: 60

  code-coverge-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17

    - name: Build with Maven skipTests
      run: mvn clean install -ntp -B -DskipTests

    - name: Upload to Codecov
      uses: codecov/codecov-action@v3

    - name: package surefire artifacts
      if: failure()
      run: |
        rm -rf artifacts
        mkdir artifacts
        find . -type d -name "*surefire*" -exec cp --parents -R {} artifacts/ \;
        zip -r artifacts.zip artifacts

    - uses: actions/upload-artifact@master
      name: upload surefire-artifacts
      if: failure()
      with:
        name: surefire-artifacts
        path: artifacts.zip
